---
import ProjectSlider from './ProjectSlider.astro';

export interface Props {
  title: string;
  date: string;
  description: string;
  technologies: string[];
  details: string[];
  links: {
    demo: string;
    repo: string | null;
    download: string | null;
  };
  images: { src: string; alt: string }[];
  clientLink?: string;
}

const { title, date, description, technologies, details, links, images, clientLink } = Astro.props;
---

<div class="card">
  <div class="description">
    <h2>{title}</h2>
    <ul class="project-description">
      <li>
        {details.map((detail) => (
          <p>
            &#9679; {detail.includes('Client :') && clientLink ? (
              <>
                Client : <a href={clientLink.url} target="_blank" rel="noopener noreferrer" style="color: blue;">{clientLink.name}</a>
              </>
            ) : (
              detail
            )}
          </p>
        ))}
        {links.demo && (
          <p>
            &#9679; Link : <a style="color: blue;" href={links.demo} target="_blank" rel="noopener noreferrer">{links.demo.replace('https://', '')}</a>
          </p>
        )}
        {links.repo && (
          <p>
            &#9679; {links.download ? 'Repo' : 'Github Repo'} : <a style="color: blue;" href={links.repo} target="_blank" rel="noopener noreferrer">{links.repo.replace('https://', '')}</a>
          </p>
        )}
        {links.download && (
          <p>
            &#9679; <a style="color: blue;" href={links.download} target="_blank" rel="noopener noreferrer">Download 🚀</a>
          </p>
        )}
      </li>
    </ul>
  </div>
  <ProjectSlider images={images} />
</div>